body{
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 50px;
    background-color:#000000; /* Set background color to white */
    color:  #ffffff;
}
.login-form button:hover{
    background: linear-gradient(#3a3b3a);
}