<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <title>PINK - Sign Up</title>
    </head> 
    <body>
        
        <section class="login">

            <div class="nav-in">
                <a href="./index.html" class="back-arrow"><i class="uil uil-arrow-left"></i></a>
                <a href="./index.html" class="brand-name">PINK</a>
                <a href="./Login-Drivers.html">Login</a>
            </div>

            <div class="login-container">
                <div class="in-title">Driver Sign Up</div>
                <form id="loginForm" method="POST" action="/drivers/signup" enctype="multipart/form-data">
                    <div class="inputs">
                    <div class="input-field">
                            <input type="text" id="name" name="name" placeholder="name" autocomplete="email" required>
                        </div>
                        <div class="input-field">
                            <input type="email" id="email" name="email" placeholder="Email" autocomplete="email" required>
                        </div>
                        <div class="input-field">
                            <input type="text" id="phone_number" name="phone" placeholder="Phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" name="password" placeholder="Enter Password" min="6" required>
                        </div>
                         <div class="input-field">
                            <input type="password" id="password" name="password-rep" placeholder="Re-enter Password" min="6" required>
                        </div>
                        <div class="input-field">
                            <input type="text" name="company" placeholder="Car Company/Model" required>
                        </div>
                        <div class="input-field">
                            <input type="text" name="license" placeholder="License Plate Number" required>
                        </div>
                    
                        <div class="input-field">
                            <label for="myFile">Picture of ID for verification</label>
                            <input type="file" id="myFile" name="myFile">
                        </div>
                    </div>
                    <div class="submit-input-field input-field">
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                    <div class="external-logins">
                        <i class="uil uil-google"></i>
                        <i class="uil uil-facebook"></i>
                        <i class="uil uil-apple"></i>
                    </div>
                </form>
            </div>

        </section>
    </body>
</html>