@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --pink: #FBACBE;
    --yellow: #FFD97D;
    --red: #C33149;
    --purple: #4357AD;
    --black: #172121;

    --main-bacground-color: #161928;
    --main-color: #fada5e;
    --third-color: #9bbec7;
}

/* Reusable */

.container{
    padding: 1rem;
    display: flex;
    overflow-x: hidden;
}

.hidden{
    display: none !important;
}

a{
    text-decoration: none;
    color: black;
}

img{
    height: 500px;
    width: auto;
}

body{
    font-family: Arial, sans-serif;
    text-align: left;
    background-color:#fff;
}

/* Navbar */

.navbar{
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    /* border-bottom: 2px solid rgba(250, 218, 94, 0.75); */
    background-color: var(--purple);
}

.navbar a{
    color: var(--pink);
}

#close-nav, .active #open-nav {
    display: none;
}

.active #close-nav, #open-nav {
    display: block;
}

.nav-links{
    display: none;
}

.active .nav-links{
    display: block;
}

.navbar-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .container{
    display: flex;
    flex-direction: column;
    justify-content: start;

    /* box-shadow: 0 5px 10px rgba(0,0,0,0.3); */
}

.navbar-nav{
    display: flex;
    flex-direction: column;

    padding: 1rem;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-toggler{
    background-color: transparent;
    border: none;
    color: var(--pink);
    cursor: pointer;
}

.navbar-icon{
    font-size: 1.5rem;
}

.nav-primary{
    border-bottom: 2px solid rgba(250, 218, 94, 0.25);
}

.nav-link{
    padding: 0.5rem 0;
}

.nav-link::before{
    content: '→';
    padding-right: 0.25rem;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before{
    padding-right: 0.75rem;
}

@media only screen and (min-width: 834px){

    .navbar .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-title{
        width: fit-content;
    }
    
    .navbar-toggler{
        display: none;
    }

    .navbar .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: end;
        width: 675px;
        /* If meet the team link is added - the width is 675px else 525px*/
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
    }

    .nav-primary{
        border: none;
    }

    .nav-link{
        padding: 0.5rem;
        margin: 0 0.5rem;
        position: relative;
    }

    .nav-link::after{
        position: absolute;
        content: '';
        right: 0;
        bottom: 10px;
        width: 90%;
        height: 10px;
        border-radius: 9999px;
        /* background-color: rgba(250, 218, 94, 0.05); */
    }

    .active-link.nav-link::after{
        /* background-color: rgba(195, 49, 73,0.2); */
        transition: 0.25s;
    }

    .nav-link:hover::after{
        /* background-color: rgba(250, 218, 94, 0.25); */
        transition: 0.25s;
    }
    
    .nav-link::before{
        display: none;
    }
}


/* Login and sign up */

.login{
    padding: 2rem;
}

.login a{
    color: var(--purple);
}

.nav-in{
    background-color: transparent;
    color: var(--purple);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand-name{
    font-size: 1.5rem;
}

.nav-in .back-arrow{
    font-size: 2rem;
}

.in-title{
    font-size: 1.5rem;
    text-align: center;
}

.login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.loginForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-field{
    margin: 0.5rem 0;
}

input, button{
    background: none;
    border: 2px solid var(--black);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    width: 300px;
}

.input-field input:focus{
    color: var(--purple);
    border: 2px solid var(--purple);
}

.submit-input-field input{
    color: var(--black);
    border: 1px solid var(--black);
}

.submit-input-field button{
    background-color: var(--black);
    color: #fff;
}

.submit-input-field:hover button{
    cursor: pointer;
    background-color: var(--purple);
    border: 2px solid var(--purple);
    transition: 0.2s;
}

.inputs{
    margin: 1.5rem 0;
}

.external-logins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.external-logins i{
    border: 1px solid var(--black);
    padding: 0.5rem;
}

.external-logins i:hover{
    color: var(--pink);
    border-color: var(--pink);
    transition: 0.2s ease-in-out;
}