body{
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 50px;
    background-color:#ffd97d; /* Set background color to purple */
    color:  #ff40e6;
}
.login-container{
    margin: auto;
    background-color: #ffd97d; /* yellow background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-form input[type="text"],.login-form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff80b3; 
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button{
    width: 100%;
    background-color: #ff00b3;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
}

.login-form button:hover{
    background: #b25ea5;
}

.signup-container{
    margin: auto;
    background-color: #4357ad; /* yellow background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.signup-form input[type="text"],.signup-form input[type="password"],.signup-container input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff80b3; 
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form button{
    width: 100%;
    background-color: #ff00b3;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
}

.signup-form button:hover{
    background: #b25ea5;
}